.main{
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding: 50px;
    height: 100vh;
}
.show{
    width: 15%;
    height: 40px;
    border: none;
    background-color: darkgray;
    cursor: pointer;
    color: white;
    font-size: clamp(13px, 2vw, 20px);
}

@media only screen and (min-width: 320px) and (max-width: 1024px) {
    .main {
        padding: 20px;
    }
}